* {
    margin: 0;
    padding: 0;
}

.cv {
    display: grid;
    grid-template-rows: 300px 1fr;
}

.personalInformation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name {
    padding: 10px 0 0 30px;
}

.contactInfo {
    padding-top: 10px;
    padding-right: 30px;
    text-align: right;
    align-items: flex-end;
}

.skills {
    display: grid;
    grid-template-rows: 40px 1fr;
    margin: 0 30px 20px 30px;
    align-items: center;
}

.skillItem {
    display: inline-block;
    align-items: center;
    width: fit-content;
    height: 1.5em;
    padding: 2px 10px;
    margin: 10px 5px 0 0;
    border-radius: 8px;
    background-color: #7a6688;

}

.skillItem strong {
    color: #ffffff;
}

.languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    grid-gap: 5px;
    margin: 0 30px 20px 30px;
}

.title{
    font-size: 1.5em;
    color: #7a6688;
    text-align: center;
    grid-column: 1/-1;
    border-bottom: 2px solid black;
}
.item {
    text-align: center;
    color: #7a6688
}
.item strong{
    color: #000000
}



