.app-wrapper {
    display: grid;
    grid-template-areas:
  'h'
  'c'
  'f';
    grid-template-rows: 50px minmax(500px,auto) 50px;
    grid-gap: 10px;
}

.content-wrapper{
    grid-area: c;
    font-family: 'Work Sans', sans-serif;

}
